img{
    /* float: left;
    height: 110px; 
    width: 147px;  */
    margin: 0px; 
    padding: 0px;
    width: auto;
    height: auto;
}
#imgDiv{
    width: 450px;
    height: 340px;
    display: none;
    border: 1px solid cadetblue;
    border-radius: 5px;
}
.fullscreen {
    width: 100vw;
    height: 100vh;
    }